//Font
$nav-font: 'raleway', sans-serif;
$body-font: 'raleway', sans-serif;
$header-font: 'raleway', sans-serif; 

//Header and Footer
$base-color-1: rgba(black,.8);
$link-color: #00B5A3;
$header-font-color: #222222;
$content-font-color: #333333;

//Breakpoints
$breakpoint-small-below: 'only screen and (max-width: 30em)';
$breakpoint-small: 'only screen and (min-width: 20em)';
$breakpoint-medium: 'only screen and (min-width: 30em)';
$breakpoint-medium-between: 'only screen and (max-width: 85.666em)';