<!-- ABOUT PAGE VIEW -->
<div class="content-grid-container">
  <div class="grid-container outline">
    <div class="row">
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-3 center-div">
        <h1>{{fields.headline_1}}</h1>
      </div>
      <div class="col-3 center-div bottom-border"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="col-3 center-div">
        <p>{{{fields.content_1}}}</p>
      </div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-3 center-div">
        <h1>{{fields.headline_2}}</h1>
      </div>
      <div class="col-3 center-div bottom-border"></div>
      <div class="spacer"></div>
      <div class="col-3 center-div">
        <p>{{{fields.content_2}}}</p>
      </div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
    </div>
  </div>
</div>