<div class="wrapper">
  <div class="home_hero">
    <div class="hero_logo">
      <img class="hero_logo_image" src="./assets/media/illustrator_logo.png" alt="">
    </div>
  </div> <!--home_hero-->
  <div class="welcome_headline heading_font">
    <h1>{{fields.welcome_headline}}</h1>
    <h2>{{fields.welcome_subheadline}}</h2>
  </div>
  <div class="main_content">
    <div class="main_content_heading section heading_font">
      <h1>{{fields.main_content_headline}}</h1>
      <h2>{{fields.main_content_subheadline}}</h2>
    </div>
    <div class="ayahuasca_content section heading_font">
      <h1>{{fields.ayahuasca_title}}</h1>
      <p>{{fields.ayahuasca_summary_p1}}</p>
      <p>{{fields.ayahuasca_summary_p2}}</p>
      <div class="ayahuasca_summary_image home_summary_image"></div>
      <p>{{fields.ayahuasca_summary_p3}}</p>
      <p>{{fields.ayahuasca_summary_p4}}</p>
    </div>
    <div class="ajnalight_content section heading_font">
      <h1>{{fields.ajnalight_title}}</h1>
      <p>{{fields.ajnalight_summary_p1}}</p>
      <p>{{fields.ajnalight_summary_p2}}</p>
      <div class="ajnalight_summary_image_1 home_summary_image"></div>
      <p>{{fields.ajnalight_summary_p3}}</p>
      <div class="ajnalight_summary_image_2 home_summary_image"></div>
      <p>{{fields.ajnalight_summary_p4}}</p>
    </div>
  </div>
  <div class="reach_out_section section">
    <div class="reach_out_headline section heading_font">
      <h1>We want to hear from you</h1>
      <h2>Leave us a message below</h2>
    </div>
    <div class="reach_out_form_container">
      <div class="reach_out_form">
        <form action="#">
          <input class="comment_field" type="text" id="name" name="name" placeholder="Your name...">
          <input class="comment_field" type="text" id="email" name="email" placeholder="Your email...">
          <input class="comment_response_field" type="text" id="reach_out_comment" name="reach_out_comment" placeholder="Please leave us a message...">
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>
