<!-- ROOT PAGE VIEW -->
<div class="content-grid-container">
    <div class="video-container">
      <iframe class="hero-video col-3" src="{{fields.video_embed_code}}" frameborder="0" allowfullscreen></iframe>
    </div>
    {{#each fields.hero_image}}
      <div class="video-background-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.5)),url('{{secure_url}}');">
    {{/each}}
</div>
<div class="grid-container outline">
  <div class="row">
    <div class="content-wrapper">
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-3 center-div">
        <h1>{{fields.headline_1}}</h1>
      </div>
      <div class="col-3 center-div bottom-border"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="col-3 center-div">
        <p>{{{fields.home_summary}}}</p>
      </div>
      <div class="col-6 spacer"></div>
      <div class="col-6 spacer"></div>
      <div class="col-3 center-div">
        <h1>{{fields.headline_2}}</h1>
      </div>
      <div class="col-3 center-div bottom-border"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="latest-articles">
      <div class="read-more"><a href="/blog"><h4>more articles  ></h4></a></div>
      <div class="spacer"></div>
      </div>


<!--       {{#each related_items.featured_articles}}
        <div class="row">
          <div class="col-3 center-div article">
            {{#each fields.hero_image}}
              <div class="col-2 show_image" style="background-image: url('{{secure_url}}');">
            {{/each}}
            </div> 
            <div class="col-4 article-list-text">
              <div class="article-list-title">
                <a href="{{slug}}">{{fields.title}}</a>
              </div>
              <div class="article-list-date">
                <h4>{{format_date published_on "%B %d, %Y"}}</h4>
              </div>
              <div class="article-list-content listing-summary">
                <p>{{{fields.content}}}</p>
              <span>Read more</span>
              </div>
            </div> 
          </div> 
          <div class="spacer"></div>
          <div class="spacer"></div>
        </div> 
      {{/each}} -->
      <div class="spacer"></div>
    </div> <!-- content-wrapper -->
  </div> <!-- row -->
</div>

