<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>AJNAHUASCA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="shortcut icon" href="https://res.cloudinary.com/airship/image/upload/f_auto/v1508114582/media/ajna_favicon-01_zslw1k.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="/assets/scripts/responsive-nav.js"></script> -->
    <script>
      // Google Analytics Tracking Code
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-104392284-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <header>
    <div id="overlay"></div>
    <div class="mobile_header">
      <div id="nav-icon">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="base_wrapper">
      <a href="/" class="logo" data-scroll></a>
      <div class="header_nav">
      <div class="social-icons" style="float: right;">
        <a href="#" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com/ajnahuasca" class="fa fa-twitter"></a>
      </div>
        <nav class="nav-collapse">
          <ul>
            <li class="menu-item nav-text"><a href="/about" data-scroll>ABOUT</a></li>
            <li class="menu-item nav-text"><a href="/blog" data-scroll>BLOG</a></li>
            <li class="menu-item nav-text"><a href="/podcast" data-scroll>PODCAST</a></li>
            <li class="menu-item nav-text"><a href="/faq" data-scroll>FAQ</a></li>
            <li class="menu-item nav-text"><a href="/contact" data-scroll>CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{{ template }}}
    <script src="/assets/scripts/homepage-blog-list.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <!-- <script src="/assets/scripts/fastclick.js"></script> -->
    <!-- <script src="/assets/scripts/scroll.js"></script> -->
    <!-- <script src="/assets/scripts/fixed-responsive-nav.js"></script> -->
  </body>
  <footer>
    <div class="footer_nav_container">
      <div class="footer_nav_inline">
        <nav>
          <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/blog">BLOG</a></li>
            <li><a href="/podcast">PODCAST</a></li>
            <li class="menu-item nav-text"><a href="/faq" data-scroll>FAQ</a></li>
            <li>
              <a href="/contact">CONTACT</a>
            </li>
            <li>
              <div class="social-icons" style="display: inline-flex;">
                <a href="#" class="fa fa-facebook"></a>
                <a href="https://www.twitter.com/ajnahuasca" class="fa fa-twitter"></a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer_logo_container"></div>
  </footer>
</html>