<!-- FAQ PAGE -->
<div class="content-grid-container">
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="grid-container outline">
    <div class="col-3 article_list_header center-div">
      <h1>FAQ</h1>
    </div>
    <div class="col-3 center-div bottom-border"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row">
    {{#sort_list items sort="published_on" order="asc"}} 
      <!-- <div class="spacer"></div> -->
      <div class="col-3 center-div">
        <div class="col-6">
            <h2 style="text-transform: uppercase;">{{{fields.question}}}</h2>
          <!-- <div class="spacer"></div> -->
          <div class="col-6">
            <p>{{{fields.answer}}}</p>
          </div>          
        </div> 
      </div> <!-- article -->
      <div class="spacer"></div>
      <div class="spacer"></div>
    {{/sort_list}}
    </div> <!-- row -->
  </div> <!-- grid-container -->
</div>
